body {
    background-color: black;
    margin: 0;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header {
    width: 100%;
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    z-index: 100;
    margin-left: 100px;
}


nav .login {
 margin: -10px 0  0 100px;
 text-align: center;
 color: black;
 background: grey;
 padding: 10px;
 width: 80px;
 border: none;
}

.nav .login:hover {
    background: rgb(189, 185, 185);
}

.list .des {
 width: 50%;
 font-family: cursive;
}

header div {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: -100px;
}

header div img {
    width: 110px;
    animation: logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes logo {
    100% {
        transform: rotateY(360deg);
    }
}

header div h3 {
   margin-top: 23px;
   color: #eee;
   margin-left: -35px;
   letter-spacing: 2px;
}

header nav {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: -70px;
top: 23px;
}

header nav h4 {
    margin: 0;
    color: #eee;
}
header a {
    margin-right: 30px;
}

.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    left: 100px;
    max-width: 80%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .content .title {
  color: orange;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;

}

.carousel .list .item .content .topic {
    color: orange;

}

.carousel .list .item .content .des {
    font-size: larger;
}

.carousel .list .item .content button {
    width: auto;
    height: 25px;
    background-color: transparent;
    margin-top: 15px;
    padding: 0 15px 0 15px;
}

.carousel .list .item .content .buttons button  {
    letter-spacing: 2px;
    font-family: poppins;
    background-color: transparent;
    border: 1px solid white;  
}

.carousel .list .item .content .buttons button a {
    color: white;
    font-size: small;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
    background-color: transparent;
   /* backdrop-filter: blur(20px);
    padding: 20px;*/
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: none;
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
}

.thumbnail .item .content .title {
    font-weight: bolder;
}

.arrows {
    position: absolute;
    right: 52%;
    top: 80%;
    display: flex;
    gap: 10px;
    width: 300px;
    max-width: 30%;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    background-color: #eee4;
    color: white;
    border: none;
    font-family: monospace;
    border-radius: 50%;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
    z-index: 100;
}

.arrows button:hover {
    background-color: #eee;
    color: #555;
}

/*animation*/

.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .title {
    animation-delay: 1.3s;
}
.carousel .list .item:nth-child(1) .topic {
   animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .des {
    animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .buttons {
    animation-delay: 1.8s;
}

/* effect for next click */

.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 10px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail 1s linear 1 forwards;
}

@keyframes showThumbnail {
    to {
        width: 150px;
    }
}

.carousel.next .thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail 0.5s linear 1 forwards;

}

@keyframes transformThumbnail {
    to {
        transform: translateX(0);
    }
}

/* effect for prev click */

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;

}

.carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outimage .5s linear 1 forwards;
}

@keyframes outimage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 10px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
    opacity: 0;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons {
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.time {
    width: 0;
    height: 5px;
    background-color: orangered;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;

}

@keyframes timeRunning {
    to {
        width: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title {
        font-size: 30px;
    }

}


section {
    
    background-image: url(./IMAGE/peakp.jpg);
}

section img {
  animation: autorotate;
  animation-timeline: view();
  
}

@keyframes autorotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg)
  }
}


@media(max-width: 500px) {
 .carousel .list .item .content {

    position: absolute;
    top: 20%;
    left: 20px;
    max-width: 80%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}


.carousel .list .item .content .topic {

    font-weight: bold;
    font-size: 4em;
    line-height: 1.3em;

}

}

@media(max-width: 768px) {
 
 
.carousel .list .item .content .buttons button  {
    letter-spacing: 2px;
    font-family: poppins;
    background-color: transparent;
    border: 1px solid white;
}

.carousel .list .item .content .buttons button a {
    color: white;
}

.carousel .list .item .content .des {
 width: 100%;
}

.carousel .list .item .content {
 top: 200px;
}
 
}